---
import Hamburger from "../../components/Hamburger.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Base from "../../layouts/Base.astro";
import { Icon } from "astro-icon";

export async function getStaticPaths() {
  const events = await getCollection("events", ({ data }) => {
    return data.images && data.images.length > 0;
  });
  events.sort((b, a) => Date.parse(a.data.date) - Date.parse(b.data.date));
  const images = [...new Set(events.map((event) => event.data.images).flat())];
  const numberOfImages = images.length;
  return images.map((image: any, i) => ({
    params: {
      slug: image.id,
    },
    props: {
      image,
      nextImage: i + 1 === numberOfImages ? { data: "" } : images[i + 1],
      prevImage: i === 0 ? { data: "" } : images[i - 1],
    },
  }));
}

const { image, prevImage, nextImage } = Astro.props;
---

<Base>
    <div class="collapse">
      <Hamburger  />
    </div>
    <div slot="nav" class="flex items-center w-full gap-3">
    <h4 class="m-0 ml-auto invisible md:visible">
      {image.alt}
    </h4>
    <div class="flex items-center gap-1 pl-3 border-l border-l-primary">
      {
        prevImage.id && (
          <a href={`/images/${prevImage.id}/`}>
            <Icon name="ion:arrow-back-sharp" class="icon h-6 w-6" />
          </a>
        )
      }
      {
        nextImage.id && (
          <a href={`/images/${nextImage.id}/`}>
            <Icon name="ion:arrow-forward-sharp" class="icon h-6 w-6" />
          </a>
        )
      }
      <a href="/images">
        <Icon name="ion:close-sharp" class="icon" />
      </a>
    </div>
  </div>
  <section class="h-[calc(100vh-96px)]" transition:name={image.id}>
    <h3 class="md:hidden">{image.alt}</h3>
    <Image
      src={image.src}
      alt={image.alt}
      width="1600"
      class="object-contain w-full h-full"
    />
  </section>
</Base>
