---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Button from "../../components/Button.astro";

export async function getStaticPaths() {
  const event = await getCollection("events");
  return event.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}
const { page } = Astro.props;
const { Content } = await page.render();
const data = page.data;
---

<BaseLayout>
  <a href="/events">
    <Button name="ion:close-circled" />
  </a>
  <div class="grid grid-cols-3 gap-3" transition:name={page.data.title}>
    <div>
      <h1>{data.title}</h1>
      <Image
        src={data.images[0].src}
        alt={data.images[0].alt}
        class="rounded-md mb-auto"
      />
    </div>
    <div class="col-span-2">
      <h5>date:</h5>
      <h2>{data.date}</h2>
      <h5>time:</h5>
      <h2>{data.time}</h2>
      <h5>venue:</h5>
      <h2>{data.venue}</h2>
      <h5>with:</h5>
      <h2>{data.with}</h2>
      <Content />
    </div>
  </div>
</BaseLayout>
