---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Base from "../../layouts/Base.astro";
import Button from "../../components/Button.astro";

export async function getStaticPaths() {
  const event = await getCollection("events");
  return event.map((page) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}
const { page } = Astro.props;
const { Content } = await page.render();
const data = page.data;
---

<Base>
  <section class="mt-2" transition:name={page.data.title}>
    <a href="/events" class="ml-auto">
      <Button name="ion:close-circled" />
    </a>
    <div class="flex gap-4">
      <div>
        <img src="/ynk.svg" alt="" class="h-auto w-16 mb-2" />
        <h2 class="text-center">{data.number}</h2>
        <h2 class="uppercase upright mx-auto">Yes No Klub</h2>
      </div>
      <Image
        src={data.flyer.src}
        alt={data.flyer.alt}
        class="w-2/5 h-auto object-contain mb-auto"
      />

      <div class="flex relative">
        <div>
          <h4>date:</h4>
          <h3>{data.date}</h3>
          <h4>time:</h4>
          <h3>{data.time}</h3>
          <h4>venue:</h4>
          <h3>
            <a href={data.venue.url} target="_blank">
              {data.venue.name}
            </a>
          </h3>
          <h4>with:</h4>
          <h3>{data.with}</h3>
          {
            data.info !== "" && (
              <>
                <h4>info:</h4>
                <h5>{data.info}</h5>
              </>
            )
          }
          <div class="mt-4">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>

<style>
  .upright {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
</style>
